<!DOCTYPE html>
<html lang="en">

<%- include ("../partials/header") %>

<body>
    <h1>safss</h1>
    <div class="container">
        <%- include ("../partials/nav") %>
    </div>

    <%- include ("../partials/footer") %>
</body>
</html>